*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 200px;
    height: 200px;
}
.box1{
    
    border: 1px solid red;
}
.box2{
    
    border: 1px solid green;
}
.box3{
  
    border: 1px solid blue;
}
.box4{
  
    border: 1px solid blue;
}
.box5{
  
    border: 1px solid blue;
}
